#surveyWrapper {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;
}

li {
  display: inline-block;
}

img {
  width: 300px;
  box-shadow: 10px 10px 30px #808080;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#listOfVotes {
  flex-direction: column;
}

#printLi {
  visibility: hidden;
}

#voteChart {
  border: 2px solid black;
  width: 960px;
  margin: 0 auto;
  display: block;
}
