body {
  padding: 0;
  margin: 0;
  background-color: #50a5cc;
}

header {
  /*box-shadow: 10px 10px 25px #7f7f7f;*/
  padding: 10px 0;
  width: 960px;
  height: 80px;
  margin: 0 auto;
}

h1 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 60px;
  color: #fffa7d;
  display: inline;
}

.bus {
  box-shadow: none;
  display: inline;
  width: 150px;
  padding-left: 50px;
  position: relative;;
  bottom: 0;
}

#surveyWrapper {
  width: 960px;
  margin: 0 auto;
}

#surveyUl {
  margin: 50px auto;
}

.welcome {
  font-family: 'Sriracha', cursive;
  font-size: 50px;
  margin: 0;
}

.gameInfo {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
}
p {
  text-align: center;
  color: #fffa7d;
}

li {
  display: inline-block;
}

img {
  width: 300px;
  box-shadow: 10px 10px 25px #000000;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#listOfVotes {
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

#printLi {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  color: #fffa7d;
  background-color: #b23446;
  visibility: visible;
  width: 300px;
  height: 100px;
  cursor: pointer;
}

#printChart {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  color: #fffa7d;
  background-color: #b23446;
  visibility: visible;
  padding: 20px 25px;
  width: 300px;
  height: 100px;
  cursor: pointer;
}

#voteChart {
  border: 2px solid black;
  width: 960px;
  margin: 0 auto;
  display: block;
  background-color: white;
}

ul {
  width: 960px;
  margin: 10px auto;
}

ul li {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  color: #fffa7d;
}
